<?xml version="1.0"?>
<!--
/**
 * @author   Dejan Beljic <beljic@gmail.com>
 * @package  PSSoftware|CreateOrder
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PSSoftware\CreateOrder\Api\PurchaseManagementInterface"
                type="PSSoftware\CreateOrder\Model\PurchaseManagement"/>
</config>
